* { /* todos los elementos no tendrán margin y padding */
    margin: 0;
    padding: 0;
}

#tabla{
    background-color: rgb(208, 182, 151);
    color: white;
    border: 1px solid;
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;

    font-size: 1.4em;
    border: 1px solid;
}
/* segunda tabla */
#resultados{
    background-color: #ffffff;
    color: #878787;
    text-align: left;
    margin: 0 auto;
    font-family: 'Bebas Neue', sans-serif;
    width: 90%;
    font-size: 25px;
    font-weight: lighter;
    border-collapse: collapse;
    margin-top: 10%;
    margin-bottom: 10%;
}
.nombres{
    color: #444444;
    font-family: 'Staatliches', sans-serif;
}
.nav{
    background-color: #444444;
}
td{
    border-bottom: 1px solid #eeeeee;
}
.puestos{
    color: black;
    background-image: url(Assets/numero.png);
}
footer{
    background-color: #eeeeee;
}
.pie{
    display: flex;
    justify-content: space-around;
    text-align: left;
}
header{
    display: flex;
    background-color: #444444;
    align-items: center;
    height: 150px;
}
#lista-header{
    display: flex;
    justify-content: space-around;
    width:600px ;
    color: #ff0004;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 150%;
}
a{
    text-decoration: none;
    color: black;
}
h3{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 200%;
    color: #ff0004;
}
ul{
    list-style: none;
}
#destacado{
    color: #ff0004;
}